{% extends "base.html" %}

{% block title %}SunsetMusicStore | Vérifiez votre adresse e-mail{% endblock %}

{% block header %}
          <div class="row">
            <h1 id="category">Vérifiez votre adresse e-mail</h1>
          </div>
{% endblock %}

{% block body %}
        <div class="card shadow mx-auto" style="width: 60%;">
          <div class="card-body">
            <section class="fs-5 text-justify">
              <i class="fas fa-envelope"></i>
              Nous vous avons envoyé un e-mail de vérification.<br>
              <mark>Merci de <b>cliquer sur le lien inclus dans ce courriel</b>.</mark><br><br>
              Contactez-nous si vous ne l'avez pas reçu d'ici quelques minutes&hellip;
            </section>
          </div>
        </div>
{% endblock %}
