{# Order details view #}
{% extends 'base.html' %}
{% load static %}
{% block title %}SunsetMusicStore | Commande {{ order.order_ref }}{% endblock %}
{% block header %}
<div class="row">
  <h1 id="category">
  {% if order.shipped %}
    <i class="fas fa-truck-fast"></i>
  {% else %}
    <i class="fas fa-dolly"></i>
  {% endif %}
    &ThickSpace;Votre commande {{ order.order_ref }}
  </h1>
</div>
{% endblock %}
{% block body%}
<div class="row">
  <div class="col-md-4">
    {% include 'usermenu.html' %}
  </div>
  <div class="col">
    {% if order.shipped %}
    <div class="row">
      <div class="small"><strong>Expédiée le {{ order.shipped_date|date }}</strong></div>
    </div>
    {% endif %}
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-striped table-hover align-middle">
        <thead>
          <th>Référence</th>
          <th>Produit</th>
          <th class="text-end">Quantité</th>
          <th class="text-end">Total</th>
        </thead>
        <tbody>
        {% for detail in orderdetails %}
          <tr>
            <td>{{ detail.product.ref }}</td>
          <td><img src="{% static detail.product.category.icon %}">  <a href="{% url 'product' detail.product.category.slug detail.product.category.id detail.product.ref %}">{{ detail.product.name }}</a></td>
            <td class="text-end">{{ detail.quantity }}</td>
            <td class="text-end">{{ detail.price|floatformat:2 }} &euro;</td>
          </tr>
        {% endfor %}
          <tr>
            <td colspan="4" class="text-end fs-5">Total : <span id="digit">{{ order.total_amount|floatformat:2 }}</span> &euro;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
