{# User menu template #}

<div class="mb-4 list-group list-group-flush shadow">
  <a
    class="list-group-item list-group-item-action category-item"
    href="{% url 'orders' %}">
      <i class="fas fa-box-archive"></i>
      Commandes
  </a>
  <a
    class="list-group-item list-group-item-action category-item"
    href="#">
      <i class="fas fa-envelope"></i>
      Adresses e-mail
  </a>
  <a
    class="list-group-item list-group-item-action category-item"
    href="#">
    <i class="fas fa-address-book"></i>
      Adresses postales
  </a>
  <a
    class="list-group-item list-group-item-action category-item"
    a href="#">
    <i class="fas fa-key"></i>
      Mot de passe
  </a>
</div>
